
.header {
	background-color: rgba($c_header_bg, .5);
	margin: 0;
	max-height: 350px; // made for JS
	padding: 70px 0 50px;
	position: relative;
	z-index: 3;

	&__left {
		align-items: flex-end;
		display: flex;
		font-size: 0;

		@media #{$tablet} {
			background-color: $c_header_bg;
			padding: 30px;
			width: 100%;
		}
	}

	&__right {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		max-width: 420px;
		position: relative;
		text-align: right;

		@media #{$tablet} {
			align-items: center;
			max-width: none;
			padding: 0 20px 20px;
			width: 100%;
		}
	}

	&__right_block {
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px;
		width: 100%;

		&:first-child {
			> div {
				margin: 0 20px 0 0;
			}
		}

		&:last-child {
			margin: 0;

			> div {
				width: 100%;
			}

			.header_title_1 {
				margin: 0;
			}
		}

		a,
		a:visited {
			transition: $transition;
		}

		a:hover {
			img,
			svg {
				filter: grayscale(0);
			}
		}

		img,
		svg {
			filter: grayscale(100%);
		}
	}

	&__wrap {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.logo {
		.credits__logo__white {
			fill: $c_main;
		}
	}

	@media #{$tablet} {
		background: 0 none;
		max-height: none;
		padding: 50px 0;

		.wrap {
			padding: 0;
		}
	}

	@media #{$mobile} {
		&__left {
			width: 100%;
		}
	}
}

.header_links {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a {
		color: #000;
		display: block;
		font-size: 0;
		margin: 0 20px 0 0;
		text-decoration: none;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			svg,
			img {
				filter: grayscale(0%);
			}
		}

		&.header_links__deloros {
			margin: 0 10px 0 0;
		}

		&.header_links__pppcenter,
		&.header_links__pppcenter_en,
		&.header_links__roscongress,
		&.header_links__rosinfra,
		&.header_links__sber,
		&.header_links__veb_rf {
			span {
				display: block;
			}
		}

		span {
			display: none;
		}
	}

	svg,
	img {
		display: block;
		height: auto;
		transition: $transition;
	}

	&__ac {
		width: 180px;

		img,
		svg {
			height: 33px;
			width: 180px;
		}
	}

	&__asi {
		img,
		svg {
			height: 46px;
			width: 114px;
		}
	}

	&__deloros {
		img,
		svg {
			width: 150px;
		}
	}

	&__deloros_en {
		img,
		svg {
			width: 100px;
		}
	}

	&__pppcenter {
		max-width: 270px;
		width: 270px;

		img {
			height: 55px;
			width: 270px;
		}

		@media #{$tablet} {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	&__pppcenter_en {
		img {
			height: 50px;
			width: 208px;
		}
	}

	&__rspp {
		img,
		svg {
			height: 48px;
			width: 50px;
		}
	}

	&__roscongress {
		width: 150px;
	}

	&__rosinfra {
		width: 150px;
	}

	&__sber {
		width: 150px;

		img {
			max-width: 120px;
		}
	}

	&__tpprf {
		img,
		svg {
			width: 74px;
		}
	}

	&__tpprf_en {
		img,
		svg {
			padding: 5px 0 0;
			width: 80px;
		}
	}

	&__veb_infra {}

	&__veb_infra_en {}

	&__veb_rf {
		width: 120px;

		img {
			height: 47px;
			width: 60px;
		}
	}

	&__veb_rf_en {
		width: 140px;

		img {
			height: auto;
			width: 100%;
		}
	}

	@media #{$tablet} {
		justify-content: center;
		width: 100%;

		a {
			span {
				display: block;
			}
		}

		&__ac {
			width: 100%;
		}
	}
}

.header_logo_2,
.header_logo_2:visited {
	display: block;
	margin: 0 0 20px;
	max-width: 170px;
	width: 100%;

	&:hover {
		img,
		svg {
			filter: grayscale(0);
		}
	}

	img,
	svg {
		display: block;
		height: auto;
		filter: grayscale(100%);
		width: 100%;
	}

	@media #{$mobile_s} {
		display: none;
	}
}

.header_title {
	&__special {
		display: inline-block;
		font-size: 10px;
		letter-spacing: .1em;
		margin: 20px 0 15px;
		min-height: 10px;
		text-align: left;
		text-transform: uppercase;
		width: 100%;

		@media #{$tablet} {
			display: none;
		}
	}
}

.header_title_1 {
	font-size: 10px;
	letter-spacing: .1em;
	line-height: 1.2;
	margin: 15px 0;
	min-height: 10px;
	text-align: left;
	text-transform: uppercase;

	&__hidden_on_desktop {
		display: none;
	}
}
