
.home_menu {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	justify-content: space-between;
	list-style: none;
	margin: 30px -1em;
	text-transform: uppercase;

	&__item {}

	&__link,
	&__link:visited {
		color: #000;
		display: block;
		padding: .5em 1em;
		position: relative;
		transition: $transition;

		&::before {
			background-color: $c_main;
			content: "";
			height: 2px;
			left: 1em;
			position: absolute;
			top: 100%;
			transition: $transition;
			width: 0;
		}

		&:hover {
			color: $c_main;
			text-decoration: none;

			&::before {
				width: calc(100% - 2em);
			}
		}
	}

	@media #{$tablet} {
		justify-content: center;
	}
}

.home_slider {
	.owl-item {
		opacity: 0;
		transition: all 1s ease-in-out;

		&.active {
			opacity: 1;
			transition: $transition;
		}

		img {
			height: 300px;
			max-height: 300px;
			object-fit: cover;
			width: 621px;
		}
	}

	@media #{$tablet} {
		.owl-item {
			img {
				height: auto;
				width: 100%;
			}
		}
	}
}

.home_video {
	align-items: center;
	background: url(/images/home/6.jpg) center center no-repeat scroll transparent;
	background-size: cover;
	border: 1px solid $c_text__grey;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: $transition;

	&:hover {
		opacity: .7;
	}

	iframe {
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 3;
	}
}

.home_video_new {
	height: 100vh;
	position: relative;
	width: 100%;

	&::after {
		background-color: #000;
		content: "";
		height: 100%;
		left: 0;
		opacity: .5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	.logo {
		display: block;
		position: relative;
		z-index: 7;

		.st1 {
			fill: #fff;

			* {
				fill: #fff;
			}
		}
	}

	&__bottom {
		bottom: 30px;
		left: 50%;
		max-width: 1000px;
		padding: 0 30px;
		position: absolute;
		text-align: right;
		transform: translateX(-50%);
		width: 100%;
		z-index: 7;
	}

	&__content {
		margin: 0 auto;
		max-width: 1000px;
		padding: 200px 30px 0;
		position: relative;
		width: 100%;
		z-index: 7;
	}

	&__date {
		color: $c_main;
		font-size: 40px;
	}

	&__item {
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&__place {
		color: #fff;
		font-family: $font_proxima_light;
		font-size: 27px;
	}
}
