
.home_desc {
	font-size: 24px;
	line-height: 1.4;
	margin: 30px 0;
	text-align: justify;
}

.home_links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		width: 48%;

		@media #{$mobile} {
			margin: 0 0 30px;
			width: 100%;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__link {
		background-color: $c_main;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		display: block;
		font-family: $font_proxima_semibold;
		font-size: 30px;
		letter-spacing: .1em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: $transition;
		width: 100%;

		&::after {
			content: "";
			display: block;
			padding: 50% 0 0;
			position: relative;
			width: 100%;
		}

		&:hover {
			opacity: .7;
		}

		span {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}

		@media #{$mobile_s} {
			font-size: 20px;
		}
	}
}

.home_partners {
	text-align: center;

	&__item {
		display: inline-block;
		margin: 0 40px 0 0;

		&:last-child {
			margin: 0;
		}

		&__pppcenter {
			width: 300px;
		}

		&__veb_rf {
			width: 90px;
		}
	}
}

.home_partners_title {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

.home_slider {
	.owl-item {
		opacity: 0;
		transition: all 1s ease-in-out;

		&.active {
			opacity: 1;
			transition: $transition;
		}

		img {
			height: 300px;
			max-height: 300px;
			object-fit: cover;
			width: 621px;
		}
	}

	@media #{$tablet} {
		.owl-item {
			img {
				height: auto;
				width: 100%;
			}
		}
	}
}

.home_video {
	align-items: center;
	background: url(/images/home/6.jpg) center center no-repeat scroll transparent;
	background-size: cover;
	border: 1px solid $c_text__grey;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: $transition;

	&:hover {
		opacity: .7;
	}

	iframe {
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 3;
	}
}

.home_video_new {
	height: 100vh;
	position: relative;
	width: 100%;

	&::after {
		background-color: #000;
		content: "";
		height: 100%;
		left: 0;
		opacity: .5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	.logo {
		display: block;
		padding: 0;
		position: relative;
		z-index: 7;

		.st1 {
			fill: #fff;

			* {
				fill: #fff;
			}
		}
	}

	&__bottom {
		bottom: 30px;
		left: 50%;
		max-width: 1140px;
		padding: 0 30px;
		position: absolute;
		text-align: right;
		transform: translateX(-50%);
		width: 100%;
		z-index: 7;
	}

	&__content {
		margin: 0 auto;
		max-width: 1140px;
		padding: 130px 30px 0;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 7;

		@media #{$mobile_s} {
			padding-top: 80px;
		}
	}

	&__date {
		color: $c_main;
		font-size: 40px;

		@media #{$mobile_s} {
			font-size: 23px;
			text-align: center;
		}
	}

	&__info {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
	}

	&__item {
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&__place {
		background: url(/images/icons/map.svg) 0 5px no-repeat scroll transparent;
		background-size: 25px;
		color: #fff;
		display: block;
		font-family: $font_proxima_light;
		font-size: 27px;
		padding: 0 0 0 35px;
		position: relative;
		text-decoration: underline;

		&:hover {
			opacity: .7;
			text-decoration: none;
		}

		@media #{$mobile_s} {
			font-size: 15px;
			text-align: center;
		}
	}
}
