
.item-page {
	&__contacts {
		a,
		a:visited {
			color: $c_main;
			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&.phone {
				color: #000;
			}
		}

		p {
			font-size: 19px;
			line-height: 1.5;
			margin: 0;
		}
	}

	&__infraholl {
		a,
		a:visited {
			color: $c_main;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		h2 {
			color: $c_main;
		}

		li {
			margin: 0 0 1em;
			padding: 0 0 0 .5em;
		}

		ol {
			margin: 0 0 40px;
			padding: 0 0 0 40px;
		}

		@media #{$mobile} {
			ol {
				padding: 0 0 0 15px;
			}
		}
	}

	&__news {
		a {
			color: $c_main;
		}

		h1 {
			color: #000;
			text-align: left;
			text-transform: none;
		}

		.item-image {
			height: auto;

			img {
				width: auto;
			}
		}

		.p_news__back {
			display: inline-block !important;
		}

		@media #{$mobile} {
			h1 {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&__org {
		h1 {
			margin: 0 0 40px;
		}
	}

	&__partners {}

	&__press_center {
		p {
			margin-top: .5em;
		}

		.h2 {
			font-family: $font_proxima_light;
			color: #000;
			margin-bottom: 0;

			a,
			a:visited {
				color: #000;
			}
		}
	}

	&__speakers {}

	@media #{$mobile} {
		img {
			display: block;
			margin: 0 -30px;
			max-width: none;
			width: calc(100% + 60px);
		}

		.table_programm {
			img {
				margin: 0;
				width: 100%;
			}
		}
	}

	@media #{$mobile_s} {
		p {
			font-size: 14px;
		}
	}
}
