


.logo {
	padding: 0 20px 0 0;
	width: 212px;

	img,
	svg {
		display: block;
		width: 100%;
	}
}

.logo_desc {
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;

	&__wrap {
		text-align: left;
	}
}

.logo_desc2 {
	color: $c_main;
	font-size: 18px;
}

.logo_desc3 {
	font-family: $font_proxima_light;
	font-size: 18px;
}

.logo_mobile {
	display: none;
	line-height: 50px;
	margin: 0 0 0 30px;
	vertical-align: middle;

	a,
	a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		text-decoration: none;
		vertical-align: middle;

		img {
			display: inline-block;
			height: 100%;
		}
	}
}


