
.news_latest {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px 0 30px;

	&__date {
		display: block;
		font-weight: 700;
		margin: .5em 0;
	}

	&__item {
		margin: 0 0 30px;
		width: 22%;

		@media #{$mobile} {
			width: 48%;
		}

		@media #{$mobile_s} {
			width: 100%;
		}
	}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 120px;
		margin: 0 0 10px;
		width: 100%;
	}

	&__link {
		color: $c_menu_bg;
		display: block;
		text-decoration: none;
		transition: $transition;

		&:hover {
			opacity: .7;
		}
	}
}

.news_latest_title {
	margin: 50px 0 0;
	text-transform: uppercase;
}
