
.news_latest {
	display: grid;
	font-size: 16px;
	grid-gap: 30px;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
	padding: 0 0 50px;

	&__date {
		display: block;
		font-family: $font_proxima_bold;
		font-size: 18px;
		margin: .5em 0;
	}

	&__item {}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 170px;
		margin: 0 0 10px;
		width: 100%;
	}

	&__link {
		color: $c_menu_bg;
		display: block;
		text-decoration: none;
		transition: $transition;

		&:hover {
			opacity: .7;
		}
	}

	@media #{$mobile} {
		grid-template-columns: auto;
	}
}

.news_latest_title {
	margin: 100px 0 10px;
	text-transform: uppercase;
}
