
.reg_btn {
	background-color: $c_bg__grey_dark;
	color: #fff;
	cursor: pointer;
	margin: 1em;
	padding: .5em 1em;
	text-transform: uppercase;
	transition: $transition;

	&:hover {
		background-color: $c_main;
	}
}

.reg_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.reg_category_desc {
	opacity: .5;
}

.reg_form {
	display: flex;
	flex-direction: column;
	margin: 0 0 100px;
	padding: 0 0 50px;
	position: relative;

	h2 {
		margin: 2em 0 .5em;
	}

	input {
		&[type="text"] {
			border: 1px solid #000;
			padding: .5em 1em;
		}
	}

	select {
		cursor: pointer;
		padding: .5em 1em;
	}

	&__label {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 20px;
	}

	&__title {
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		padding: 0 30px 0 0;
		text-align: right;
		width: 300px;
	}
}

.reg_form_checkbox {
	align-items: center;
	cursor: pointer;
	display: flex;
	margin: 0 30px 10px 0;
	position: relative;

	input {
		left: -9999px;
		position: absolute;

		&:checked {
			+ .reg_form_checkbox__box {
				background-color: $c_main;
			}
		}
	}

	&__box {
		border: 1px solid #000;
		display: inline-block;
		height: 24px;
		margin: 0 8px 0 0;
		vertical-align: middle;
		width: 24px;
	}

	&__title {}
}

.reg_special_block {
	display: none;

	&.active {
		display: block;
	}
}

.reg_step {
	display: none;

	&.active {
		display: block;
	}
}

.reg_total {
	background-color: $c_search__bg;
	bottom: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: .5em 1em;
	position: absolute;
	right: 0;

	&__title {
		font-weight: 700;
	}

	&__price {
	}
}

@media print {
	.page_id_4494 {
		.breadcrumbs,
		.footer,
		.header,
		.menu_top,
		.page-header {
			display: none;
		}
	}
}
