
.speaker_desc {
	font-size: 19px;
	margin: 0;

	@media #{$mobile} {
		text-align: center;
	}

	@media #{$mobile_s} {
		font-size: 14px;
	}
}

.speaker_name {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 0 .1em;
	text-transform: uppercase;

	span {
		color: $c_main;
	}

	@media #{$tablet} {
		font-size: 16px;
	}

	@media #{$mobile} {
		margin: 20px 0 0;
		text-align: center;
	}
}

.speaker_wrap {
	display: inline-block;
	padding: 0 0 0 40px;
	vertical-align: bottom;
	width: calc(100% - 200px);

	@media #{$tablet} {
		width: calc(100% - 160px);
	}

	@media #{$mobile} {
		display: block;
		padding: 0;
		text-align: center;
		width: 100%;
	}
}

.speakers {
	font-size: 0;
	padding: 0 52px;

	> div {
		margin: 0 0 40px;
	}

	img {
		display: inline-block;
		filter: grayscale(100%);
		height: 136px;
		margin: 0 0 6px;
		vertical-align: bottom;
		width: 136px;
	}

	@media #{$tablet} {
		> div {
			img {
				width: 160px;
			}
		}
	}

	@media #{$mobile} {
		text-align: center;

		> div {
			margin: 0 0 80px;
			text-align: center;
			width: 100%;

		}
	}

	@media #{$mobile_s} {
		padding: 0;
	}
}

.speakers_home {
	padding: 50px 110px;

	h3 {
		margin: 0 0 .5em;
		text-transform: uppercase;
	}

	img {
		filter: grayscale(100%);
		margin: 0 0 20px;
		max-height: 100%;
		max-width: 100%;
	}

	.owl-next,
	.owl-prev {
		background-color: $c_main;
		height: 165px;
		position: absolute;
		top: 0;
		transition: $transition;
		width: 90px;

		&:hover {
			opacity: .5;
		}

		span {
			background-color: #fff;
			display: block;
			height: 2px;
			left: 50%;
			margin-left: -8px;
			position: absolute;
			top: 50%;
			width: 20px;

			&:first-child {
				transform: rotate(55deg);
			}

			&:last-child {
				transform: rotate(-55deg);
			}
		}
	}

	.owl-next {
		left: calc(100% + 20px);

		span {
			&:first-child {
				margin-top: -8px;
			}

			&:last-child {
				margin-top: 7px;
			}
		}
	}

	.owl-prev {
		right: calc(100% + 20px);

		span {
			&:first-child {
				margin-top: 7px;
			}

			&:last-child {
				margin-top: -8px;
			}
		}
	}

	@media #{$mobile} {
		padding: 0 50px;

		.owl-next,
		.owl-prev {
			width: 40px;
		}

		.owl-next {
			left: calc(100% + 10px);
		}

		.owl-prev {
			right: calc(100% + 10px);
		}
	}
}

.speakers_home_item {
	&__desc {
		font-size: 14px;
	}

	&__name {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .1em;
		margin: 0 0 .1em;
		text-transform: uppercase;

		span {
			color: $c_main;
			display: block;
		}
	}
}

.speakers_nav {
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	justify-content: space-between;
	margin: 30px 0;
	width: 100%;

	li {
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		margin: 0;
		position: relative;
		text-transform: uppercase;
		transition: $transition;

		&:last-child {
			margin-left: 20px;

			&::after {
				background-color: #000;
				content: '';
				height: 14px;
				left: -17px;
				margin: -7px 0 0;
				position: absolute;
				top: 50%;
				width: 2px;
			}
		}

		&:hover,
		&.active {
			color: $c_main;
		}
	}

	@media #{$tablet} {
		margin-left: -6px;
		margin-right: -6px;
		justify-content: center;

		li {
			margin: 0 6px 20px;
		}
	}
}
